/*----------------- Layout -----------------*/

* {
  font-family: Helvetica;
  color: #676767;
  font-weight: normal;
}

.img-responsive {
    display: block;
    max-width: 100%;
    /*height: auto;*/
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}

.center{
    text-align: center;
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

img.center, .ui-alt-icon.center, ui-icon-center, a.ui-icon-center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.center-div{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.red-background {
  background-color: #EE3E27;
}

.nav {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-color: white;
}

.nav .clientefiel-logo {
  height: 70px;
}

.nav .lrv-logo {
  height: 20px;
  align-self: flex-end;
  margin-right: 3%;
}

.banner-image {
  position: relative;
}

.buttons-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 2%;
}

@media only screen and (max-width: 768px) and (min-width: 426px) {
  .banner {
    height: 213px;
  }

  .banner-text {
    position: absolute;
    top: 235px;
    color: white;
    right: 5px;
  }

  .banner-text .emphasis {
    color: white;
    font-weight: bold;
    line-height: 1.3rem;
    font-size: 1.7rem;
  }

  .banner-link-container {
    background-color: #F2F1F1;
    text-align: right;
    height: 30px;
  }

  .banner-link {
    color: #EE3E27!important;
    font-size: 0.8rem;
    margin-right: 5px;
  }

}

@media only screen and (max-width: 425px) and (min-width: 376px) {
  .banner-text {
    position: absolute;
    top: 235px;
    color: white;
    right: 5px;
  }

  .banner-text .emphasis {
    color: white;
    font-weight: bold;
    line-height: 1.3rem;
    font-size: 1.7rem;
  }

  .banner-link-container {
    background-color: #F2F1F1;
    text-align: right;
    height: 30px;
  }

  .banner-link {
    color: #EE3E27!important;
    font-size: 0.8rem;
    margin-right: 5px;
  }

}

@media only screen and (max-width: 375px) {
  .banner-text {
    position: absolute;
    top: 195px;
    color: white;
    font-size: 1rem;
    right: 5px;
  }

  .banner-text .emphasis {
    color: white;
    font-weight: bold;
    line-height: 1rem;
    font-size: 1.5rem;
  }

  .banner-link-container {
    background-color: #F2F1F1;
    text-align: right;
    height: 30px;
  }

  .banner-link {
    color: #EE3E27!important;
    font-size: 0.6rem;
    margin-right: 5px;
  }

}

.navigation-button {
  width: 42%;
  height: 30px;
  font-weight: bold;
  font-size: 1rem;
  line-height: 2rem;
  color: white!important;
  background-color: #EE3E27;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  padding: 1%;
  text-align: center;
}

.navigation-button::hover {
  color: white !important;
}

.navigation-button.active{
  color: #EE3E27 !important;
  background-color: white;
  border: 1px solid #EE3E27;
}

.content {
  margin: 5% auto;
  max-width: 90%;
/*  -webkit-box-shadow: 0px 0px 8px 1px rgba(209,209,209,1);
  -moz-box-shadow: 0px 0px 8px 1px rgba(209,209,209,1);
  box-shadow: 0px 0px 8px 1px rgba(209,209,209,1);*/
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 170px;
}

.footer-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  background-color: white;
}

.footer-logos .logos {
  margin-bottom: 25px;
  max-width: 90%;
  margin: 0;
}

.footer-section {
  height: 100px;
  text-align: center;
  font-size: 0.8rem;
}

.footer-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.footer-section * {
  color: white !important;
}

.footer-section p {
  margin: 0;
}

.page-tile {
  margin: auto;
  padding: 5px;
  text-align: center;
}

/*----------------- Layout -----------------*/


/*----------------- index -----------------*/
  
.instructions-section {
  margin: auto;
  max-width: 90%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  counter-reset: instruction;
  background-color: white;
}

.instructions-section p {
  border-radius: 5px;
  font-size: 0.9rem;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  text-align: justify;
}

.instructions-section .counter::before {
  counter-increment: instruction;
  content: counter(instruction);
}

.instructions-section .counter {
  background-color: red;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 50%;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
}

.instructions-section .emphasis {
  color: #EE3E27;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  width: 85%;
  margin: 5% auto 3% auto;
}

/*----------------- index -----------------*/


/*----------------- realizarRegistro -----------------*/

.form .ui-field-container {
  margin: 5px !important;
}

.form .ui-selectmenu-button {
  width: 100% !important;
}

.input-condiciones {
  text-align: center;
}

.submit {
  text-align: center;
}

.justify, .justify p{
    text-align: justify;
}

.conditions-section-modal {
  background-color: white;
}

.conditions-section-modal .emphasis {
  color: #EE3E27;
}

.menu-principal {
  background-color: #ECEBE6;
  /* margin-top: 28px; */
}

.row-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row-flex .item a {
  color: #EE3E27;
  text-decoration: none;
  font-size: 18px;
}

.row-flex .item.active {
  font-weight: 600;
  background-color: #D8D6CF;
}

.row-flex .column:first-child {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 7%;
  align-items: center;
}

.row-flex .column:first-child .item {
  padding: 15px 30px;
  border-right: 1px solid #8C8C8B;
  margin: 10px 0;
}

.row-flex .column:last-child {
  width: 20%;
  align-items: center;
  display: flex;
}

.btn-primary {
  background: #EE3E27;
  border: 2px solid #EE3E27;
}

.btn-primary:hover {
  background: #EE3E27;
  border: 2px solid #EE3E27;
}

.btn-primary:active {
  background: #EE3E27 !important;
  border: 2px solid #EE3E27 !important;
}


.contenedor-flex {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.contenedor-flex.sombra{
  padding: 30px 150px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
}

.contenedor-flex.sombra table thead > tr > th{
  color: #EE3E27;
}

.btn.btn-flat {
  border: 2px solid #EE3E27;
  color: #EE3E27;
  border-radius: 8px;
}

.btn-primary a {
  color: #fff;
  text-decoration: none;
}

.owl-carousel-premios {
  margin-bottom: 50px;
}

.owl-carousel-premios .btn.btn-flat {
  width: 100%;
  padding: 10px 0;
  font-size: 17px;
}
.owl-carousel-premios .item {
  padding: 15px; padding: 0 10px;
}

.owl-carousel-premios .owl-prev {
  position: absolute;
  left: -55px;
  top: -2px;
  background: transparent !important;
  color: #ECEBE6 !important;
  font-size: 26px !important;
}

.owl-carousel-premios .owl-next {
  position: absolute;
  right: -55px;
  top: -2px;
  background: transparent !important;
  color: #ECEBE6 !important;
  font-size: 26px !important;
}

.btn.btn-flat.active {
    box-shadow: none;
    background-color: #EE3E27;
    color: #fff;
}

.contenedor-flex.sombra .table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #ECEBE6;
}

.reglamentos {
  padding: 2%;
}

.reglamentos .btn.btn-flat {
  margin: 10px 10px;
  padding: 2%;
}

.reglamentos hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; 
}

.reglamentos ul {
  padding-left: 15px;
}

.title-red {
  font-weight: bold;
  color: #EE3E27;
  font-size: 1.2rem;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.mensaje-bienvenida {
  position: relative;
}

.mensaje-bienvenida .btn.btn-primary {
  position: absolute;
  top: 74%;
  right: 25%;
  left: 25%;
}

.btn {
  text-align: center;
}

.hidden {
  display: none;
}

.menu ul {
  list-style: none;
  display: flex;
  flex-flow: column;
  /*align-items: center;*/
  /*justify-content: center;*/
}

.menu-button {
  position: absolute;
  top: 40px;
  left: 10px;
}

.menu hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; 
}

.menu-button div{
  border: none;
  background-color: #EE3E27;
  width: 25px;
  height: 4px;
  margin: 4px 0;
  border-radius: 2px;
}

.botones-menu {
  margin: auto;
  max-width: 90%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.menu a {
  color: #EE3E27 !important;
  text-decoration: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  /*padding-left: auto;*/
  text-align: center;
  height: 20px;
  border: 1px solid #EE3E27;
  border-radius: 5px;
}

.menu a.active {
  color: white !important;
  background-color: #EE3E27 !important;
}

.reglamentos p {
  text-align: justify;
  font-size: 0.9rem;
}

.reglamentos li.header {
  list-style: none;
  font-weight: bold;
}

#main-content .ui-content {
  padding: 0px;
}
/*.form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: auto;
}

.form-section {
  width: 90%;
  margin: 1%;
}

.form-section input{ 
  font-weight: bold;
  border: 1px solid #D2D2D2;
  padding-left: 15px;
  width: 100%;
  height: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-input {
  margin:auto;
  width: 100%;
  height: 45px;
}


.form-section select{
  font-weight: bold !important;
  border: 1px solid #D2D2D2 !important;
  width: 100% !important;
  height: 45px !important;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  padding-left: 15px !important;
  background-color: white !important;
}

.form-section .select2-container{ 
  width: 100%;
  height: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-section .select2-container .select2-choice {
  font-weight: bold;
  height: 45px; 
  padding: 0 0 0 15px;
  overflow: hidden;
  position: relative;
  border: 1px solid #D2D2D2;
  white-space: nowrap;
  line-height: 45px; 
  text-decoration: none;
  border-radius: 0px; 
  background-clip: padding-box; 
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  background-image: none;
}

.form-section .select2-arrow {
  background: white !important;
  background-image: none !important;
  border-left: none !important;
}

.form-action {
  text-align: center;
}

.form-action input[type="submit"] {
  width: 25%;
  height: 45px;
  font-weight: bold;
  font-size: 2.7rem;
  line-height: 2.7rem;
  color: white;
  background-color: #EE3E27;
  border: none;
  border-radius: 5px;
}

.form .ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset {
  height: 45px;
  border: none !important;
  text-shadow: none !important;
  border-radius: 0px;
  box-shadow: none !important;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.form .ui-selectmenu-button.ui-widget.ui-state-default.ui-corner-all {
  height: 45px;
  background: white;
  width: 100% !important;
  border-radius: 0px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.terms-conditions {
  text-align: center;
  font-weight: bold;
  margin: 3%;
}

.terms-conditions input[type="checkbox"] {
  display: inline-block;
}*/

/*----------------- realizarRegistro -----------------*/


.ui-body-c form{ background-color: #f4f4f4; border:1px solid #e4e4e4; }
.ui-body-c .ui-input-text input, .ui-input-password input{
    border: 1px solid #e4e4e4;
    color: #111;
    /* border-radius: .6em;
     webkit-border-radius: .6em;
     padding-left: .8em;*/
}
.ui-body-c, .ui-page-theme-c .ui-body-inherit, html .ui-bar-c .ui-body-inherit, html .ui-body-c .ui-body-inherit, html body .ui-group-theme-c .ui-body-inherit, html .ui-panel-page-container-c{
    border: 0;
    color: #333;
    /*text-shadow: 0 1px 0 #f3f3f3;*/
    text-shadow:none;
}

.c_form_rgs fieldset .has-error, from .has-error, .has-error{
    font-weight: 100;
    color: #cc0000;
    text-shadow:none;
}
