/*----------------- Layout -----------------*/

* {
  font-family: Helvetica!important;
  color: #676767;
}

.img-responsive {
    display: block;
    max-width: 100%;
    /*height: auto;*/
}

.lrv-logo {
  margin: auto;
  width: 45%;
}

.barra-sup {
  height: 100px;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}

.red-background {
  background-color: #EE3E27;
}

.nav {
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.banner-image {
  position: relative;
}

.buttons-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2%;
  margin-bottom: 2%;
}

.btn-primary {
  text-decoration: none;
  color: black;
}

.navigation-button {
  width: 42%;
  height: 30px;
  font-weight: bold;
  font-size: 1rem;
  line-height: 2rem;
  color: black!important;
  background-color: #DDD;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  padding: 1%;
  text-align: center;
}

.navigation-button::hover {
  color: white !important;
}

.navigation-button.active {
  color: white!important;
  background-color: #EE3E27;
}

.content {
  margin: auto;
  max-width: 90%;
  -webkit-box-shadow: 0px 0px 8px 1px rgba(209,209,209,1);
  -moz-box-shadow: 0px 0px 8px 1px rgba(209,209,209,1);
  box-shadow: 0px 0px 8px 1px rgba(209,209,209,1);
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 170px;
}

.footer-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70px;
}

.footer-logos .logos {
  margin-bottom: 25px;
  max-width: 90%;
  margin: 0;
}

.footer-section {
  height: 100px;
  text-align: center;
  font-size: 0.8rem;
}

.footer-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.footer-section * {
  color: white !important;
}

.footer-section p {
  margin: 0;
}

.page-tile {
  margin: auto;
  padding: 5px;
  text-align: center;
}

/*----------------- Layout -----------------*/


/*----------------- Ganadores -----------------*/

.navigation-button {
  width: 42%;
  height: 30px;
  font-weight: bold;
  font-size: 1rem;
  line-height: 2rem;
  color: black!important;
  background-color: #DDD;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  padding: 1%;
  text-align: center;
}

.navigation-button::hover {
  color: white !important;
}

.navigation-button.active {
  color: white!important;
  background-color: #EE3E27;
}


.btn.btn-flat.active {
    box-shadow: none;
    background-color: #EE3E27;
    color: #fff;
}

.contenedor-flex.sombra .table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #ECEBE6;
}

.reglamentos .btn.btn-flat {
  margin: 3px 10px;
}

.contenedor-flex.sombra.reglamentos {
  padding: 30px 20px !important;
}

.reglamentos hr {border-top: 1px solid #666666;}

.reglamentos .row-flex .column {
  width: 50%;
  padding: 0 6px;
}
.title-red {
  font-weight: bold;
color: #EE3E27;
font-size: 19px;
width: 100%;
margin-bottom: 20px;
}

.scroll {
  max-height: 270px;
  overflow: auto;
  padding: 15px;
}

.mensaje-bienvenida {
  position: relative;
}

.mensaje-bienvenida .btn.btn-primary {
  position: absolute;
  top: 74%;
  right: 25%;
  left: 25%;
}

/*.banner {
  min-height: 316px;
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: relative;
}*/
div[data-role="header"] {
  background-color: white;
}

.seccion-ganadores .seccion-meses{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /*margin-bottom: 50px;*/
}

.seccion-ganadores .seccion-meses .btn {
  padding: 10px 20px;
  width: 60%;
  border: 1px solid #EE3E27;
  margin: 2%;
  border-radius: 5px;
}

.contenedor-flex.txt-banner {
  padding: 7% 0;
  position: relative;
}


@media (min-width: 1280px) and (max-width: 1300px) {
  .banner-link {bottom: -10px;}
}


@media (min-width: 1920px) and (max-width: 3000px) {
  .banner-link {bottom: 10px;}
  .banner-text {font-size: 4rem;}
}

.hidden {
  display: none;
}

.btn-primary {
  background: #EE3E27;
  border: 2px solid #EE3E27;
}

.btn-primary:hover {
  background: #EE3E27;
  border: 2px solid #EE3E27;
}

.btn-primary:active {
  background: #EE3E27 !important;
  border: 2px solid #EE3E27 !important;
}
.btn.btn-flat {
  border: 2px solid #EE3E27;
  color: #EE3E27;
  border-radius: 8px;
}
.btn-primary a {
  color: #fff;
  text-decoration: none;
}
.btn.btn-flat.active {
    box-shadow: none;
    background-color: #EE3E27;
    color: #fff;
}

.btn {
  text-align: center;
}

.menu-reglamentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.menu-reglamentos .btn.btn-flat{
  padding: 3%;
  margin: 3%;
  width: 80%;
}

.reglamentos {
  margin-left: 2%;
  margin-right: 3%;
}

.reglamentos p {
  text-align: justify;
  font-size: 0.9rem;
}

.reglamentos li.header {
  list-style: none;
  font-weight: bold;
}

.seccion-ganadores .btn.btn-flat{
  padding: 3%;
  margin: 3%;
  width: 80%;
}

.seccion-ganadores {
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.owl-carousel-premios {
  width: 100%;
}

.menu-ganadores {
  width: 100%;
}
