/*----------------- Layout -----------------*/

* {
  font-family: Helvetica;
  color: #676767;
}

a:hover, a:active, a:focus {
  outline: none;
}

.banner-link:focus{
  color: #fff !important;
}

.red-background {
  background-color: #EE3E27;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 130px;
  width: 100%;
}

.nav .clientefiel-logo {
  height: 70px;
}

.nav .lrv-logo {
  height: 50px;
  margin-left: 50px;
  margin-top: 10px;
}


.banner-text {
  top: 200px;
  right: 43%;
  width: 100%;
  color: #EE3E27;
  font-size: 3rem;
  font-weight: bold;
}

.banner-text * {
  color: #EE3E27;
  font-size: 3rem;
  font-weight: bold;
}

.banner-link {
  color: #fff;
  bottom: 0px;
  background-color: #EE3E27;
  position: absolute;
}

a.banner-link {
  text-decoration: underline;
}

a:hover.banner-link {
  color: white;
}

.emphasis {
  font-weight: black;
  font-size: 4rem;
}

.buttons-section {
  margin-top: 3%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons-section a {
  max-width: 35%;
}

.content {
  margin-top: 40px;
}

.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 230px;
}

.footer-logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 145px;
}

.footer-logos .logos {
  align-self: flex-end;
  margin-bottom: 25px;
}

.footer-section {
  height: 85px;
  text-align: center;
  font-size: 1.5rem;
}

.footer-text {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.footer-section * {
  color: white !important;
}

.footer-section p {
  margin: 0;
}

/*----------------- Layout -----------------*/


/*----------------- realizarRegistro -----------------*/

.form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: auto;

}

.form-section {
  width: 33%;
  margin: 1%;
}

.form-section input{
  font-weight: bold;
  border: 1px solid #D2D2D2;
  padding-left: 15px;
  width: 100%;
  height: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-input {
  margin:auto;
  width: 100%;
}

.form-section select{
  font-weight: bold;
  border: 1px solid #D2D2D2;
  width: 100%;
  height: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 15px;
  background-color: white;
}

.form-section .select2-container{
  width: 100%;
  height: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-section .select2-container .select2-choice {
  font-weight: bold;
  height: 45px;
  padding: 0 0 0 15px;
  overflow: hidden;
  position: relative;
  border: 1px solid #D2D2D2;
  white-space: nowrap;
  line-height: 45px;
  text-decoration: none;
  border-radius: 0px;
  background-clip: padding-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff;
  background-image: none;
}

.form-section .select2-arrow {
  background: white !important;
  background-image: none !important;
  border-left: none !important;
}

.form-action {
  text-align: center;
}

.form-action input[type="submit"] {
  width: 25%;
  height: 45px;
  font-weight: bold;
  font-size: 2.7rem;
  line-height: 2.7rem;
  color: white;
  background-color: #EE3E27;
  border: none;
  border-radius: 5px;
}

.terms-conditions {
  text-align: center;
  font-weight: bold;
  margin: 3%;
}

.terms-conditions input[type="checkbox"] {
  display: inline-block;
}

/*----------------- realizarRegistro -----------------*/


/*----------------- index -----------------*/

.instructions-section {
  margin: auto;
  max-width: 75%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
  counter-reset: instruction;
}

.instructions-section p {
  border-radius: 5px;
  font-size: 1.7rem;
  margin: 1%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.instructions-section .counter::before {
  counter-increment: instruction;
  content: counter(instruction);
}

.instructions-section .counter {
  background-color: #EE3E27;
  color: white;
  font-size: 2.4rem;
  font-weight: bold;
  border-radius: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
}

.instructions-section .emphasis {
  color: #EE3E27;
  font-size: 2.1rem;
  font-weight: bold;
  text-align: center;
  width: 85%;
  margin: 5% auto 3% auto;
}

/*----------------- index -----------------*/


/*----------------- modalCondiciones -----------------*/

.conditions-modal {
  font-size: 1.6rem;
}

.conditions-modal .modal-content {
  border-radius: 0px !important;
}

.conditions-modal .modal-header {
  border: none;
}

.conditions-modal .modal-header span {
  font-size: 3rem;
}

.conditions-section-modal {
  width: 90%;
  margin: auto;
}

.conditions-section-modal ul li {
  margin-top: 20px;
  margin-bottom: 20px;
}

.conditions-modal .emphasis {
  color: #EE3E27;
  font-size: 2.5rem;
}

/*----------------- Menu superior -----------------*/

.menu-principal {
}

.row-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.row-flex .item a {
  color: #EE3E27;
  text-decoration: none;
  font-size: 18px;
}

.row-flex .item.active {
  font-weight: 600;
  background-color: #D8D6CF;
}

.row-flex.menu {
  justify-content: space-around;
  align-items: center;
  padding: 20px 0 0;
}

.row-flex.menu .btn-primary {margin: 0 15px;}

/* .row-flex .column:first-child {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 7%;
  align-items: center;
}

.row-flex .column:first-child .item {
  padding: 15px 30px;
  border-right: 1px solid #8C8C8B;
  margin: 10px 0;
}

.row-flex .column:last-child {
  width: 20%;
  align-items: center;
  display: flex;
} */

.btn-primary {
  background: #EE3E27;
  border: 2px solid #EE3E27;
}

.btn-primary:hover {
  background: #EE3E27;
  border: 2px solid #EE3E27;
}

.btn-primary:active {
  background: #EE3E27 !important;
  border: 2px solid #EE3E27 !important;
}


.contenedor-flex {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.contenedor-flex.sombra{
  padding: 30px 150px;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
}

.contenedor-flex.sombra table thead > tr > th{
  color: #EE3E27;
}

.btn.btn-flat {
  border: 2px solid #EE3E27;
  color: #EE3E27;
  border-radius: 8px;
}

.btn-primary a {
  color: #fff;
  text-decoration: none;
}

.owl-carousel-premios {
  margin-bottom: 50px;
}

.owl-carousel-premios .btn.btn-flat {
  width: 100%;
  padding: 10px 0;
  font-size: 17px;
}
.owl-carousel-premios .item {
  padding: 15px; padding: 0 10px;
}

.owl-carousel-premios .owl-prev {
  position: absolute;
  left: -55px;
  top: -2px;
  background: transparent !important;
  color: #ECEBE6 !important;
  font-size: 26px !important;
}

.owl-carousel-premios .owl-next {
  position: absolute;
  right: -55px;
  top: -2px;
  background: transparent !important;
  color: #ECEBE6 !important;
  font-size: 26px !important;
}

.btn.btn-flat a {
    color: #EE3E27;
}

.btn.btn-flat:hover a {
    text-decoration: none !important;
}


.contenedor-flex.sombra .table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #ECEBE6;
}

.reglamentos .btn.btn-flat {
  margin: 3px 10px;
}

.contenedor-flex.sombra.reglamentos {
  padding: 30px 20px !important;
}

.reglamentos hr {border-top: 1px solid #666666;}

.reglamentos .row-flex .column {
  width: 50%;
  padding: 0 6px;
}
.title-red {
  font-weight: bold;
color: #EE3E27;
font-size: 19px;
width: 100%;
margin-bottom: 20px;
}

.scroll {
  max-height: 270px;
  overflow: auto;
  padding: 15px;
}

.mensaje-bienvenida {
  position: relative;
}

.mensaje-bienvenida .btn.btn-primary {
  position: absolute;
  top: 74%;
  right: 25%;
  left: 25%;
}

.banner {
  background-image: url('../images/clientefiel/banner-clientefiel.png');
  min-height: 316px;
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  background-attachment: scroll;
  position: relative;
}

.contenedor-flex.txt-banner {
  padding: 7% 0;
  position: relative;
}

@media (min-width: 1280px) and (max-width: 1300px) {
  .banner-link {bottom: -10px;}
}


@media (min-width: 1920px) and (max-width: 3000px) {
  .banner-link {bottom: 10px;}
  .banner-text {font-size: 4rem;}
}

.check-conditions {
	display: inline-flex;
}
