/*
Version: lrv. 2.0
Name: La laRebajaVirtual
Domain: www.larebajavirtual.com
Author's: Eiso S.A.S. -  Andrés F. Patiño
Author URI: http://eiso.com.co
*/

/* ----- Fuente principal ----- */
@font-face { font-family: HelveticaNeueLTStd-Bd;  src:local('geneva'), url("fonts/HelveticaNeueLTStd-Bd.otf");}
@font-face { font-family: HelveticaNeueLTStd-Hv;  src:local('geneva'), url("fonts/HelveticaNeueLTStd-Hv.otf");}
@font-face { font-family: HelveticaNeueLTStd-Lt;  src:local('geneva'), url("fonts/HelveticaNeueLTStd-Lt.otf");}
@font-face { font-family: HelveticaNeueLTStd-LtEx;  src:local('geneva'), url("fonts/HelveticaNeueLTStd-LtEx.otf");}
@font-face { font-family: HelveticaNeueLTStd-Md;  src:local('geneva'), url("fonts/HelveticaNeueLTStd-Md.otf");}
@font-face { font-family: HelveticaNeueLTStd-Roman;  src:local('geneva'), url("fonts/HelveticaNeueLTStd-Roman.otf");}

#overlay {background: rgba(0, 0, 0, .5); width: 100%; height: 100%; position: absolute; z-index: 10; top: 0; bottom: 0;}

/* ----- Layaout Principal HEADER - FOOTER ----- */
a:hover, a:active, a:focus {outline: none; text-decoration: none;}
body {font-family: 'HelveticaNeueLTStd-Roman', sans-serif;font-size: 10pt;}
header .header {background: #eceae6; padding: 5px 0 4px;}
header nav a {color: #666666;}
header nav a:hover, header nav a:active, header nav a:focus {color: #EE3E27 !important;}
.logo {width: 130px;margin-top: 5px;}
.left-nav {padding-left: 4px;padding-right: 4px;}
.middle-nav {padding-left: 4px;padding-right: 4px;}
.right-nav {padding-left: 4px; text-align: right;}
.middle-nav, .right-nav {margin-top: 6px; margin-bottom: 8px;}
.select-ciudad {margin: 5px 0 0; display: block;}
.select-ciudad img {width: 17px;margin-left: 5px;}
#busqueda {border-radius: 20px 0 0 20px; font-size: 12px; height: 30px;color: #666666;}
.user .ico-user {width: 17px;margin-right: 5px;}
.user {padding-inline-start: 0;text-align: right; margin: 5px 0 0;}
.user li {display: inline-block;}
.line-divider {margin: 0 5px;}
.top_ubicacion {font-size: 12px; margin-left: -30px;}
.form-control::-moz-placeholder {color: #666666;}
.form-control:focus {border-color: #666666;box-shadow: none;}
.main-header {box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);}
.main-header.fixed {transition: all 0.4s ease-in-out 0s; position: fixed; top: 0; right: 0; left: 0; width: 100%; z-index: 1000;}
.cantidad-productos {color: #EE3E27; background-color: #fff; font-family: HelveticaNeueLTStd-Bd; padding: 5px 13px; border-radius: 10px; margin-top: 0px; display: inline-block; margin-left: 10px;}
.minicar .dropdown-toggle {box-shadow: none !important;}
.toggle-categorias{ background-color: #ee3e27; border-radius: 10px; border: 1px solid transparent; padding: 0px 10px;}
.navbar-title-categorias{color: #fff; font-size: 9px; line-height: 15px; margin-bottom: 5px; text-transform: uppercase; letter-spacing: 0px;}
.main-menu-categories {background-color: #fff; border-left: #ee3e27 solid 8px; margin: 0; padding-left: 0px; padding-right: 0;}
.nav.nav-stacked.menu .nav-item a {padding: 0px;height: 35px;line-height: 35px;}
.nav.nav-stacked.menu .nav-item a img { width: 24px; margin-left: 10px; margin-right: 8px;}
.category-title {color: #ee3e27;font-size: 15px;margin: 8px 0 0 0;font-family: HelveticaNeueLTStd-Bd;}
.subcategory-link a {display: block;}
.subcategory-link a:hover {text-decoration:underline;}
.user.login_in .glyphicon  {color:#EE3E27;}
header .line-divider {background-color: #eceae6 !important;}
.menu-mundos {margin-top: 56px; box-shadow: 0 1px 2px 0 rgba(0,0,0,.12); display: flex; padding: 15px 20px;}
.menu-mundos .first {border-right: 2px solid #ee3e27;width: 15%;}
.menu-mundos .second {width: 85%;}
.menu-mundos .first .item {width: 50%;}
.menu-mundos .second .item {width: 10%;}
.menu-mundos img {display: block; margin: 0 auto; opacity: .9;}
.menu-mundos .item:hover img{opacity: 1;}
.menu-mundos .first .row-flex, .menu-mundos .second .row-flex {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;}
.menu-mundos p {text-align: center; color: #666666; font-size: 9px; margin-top: 7px;margin-bottom: 0; letter-spacing: 1px;}
.menu-mundos .item:hover p{color: #EE3E27;}
.mega-menu .nav.nav-stacked.menu {height: 480px;}
.lazy-menu {background-color: #fff; height: 480px;}
.pre-footer {background: #808184; border-bottom: 4px solid; padding: 10px 0px; color: #fff; font-size: 12px;}
.titulo-footer {font-family: HelveticaNeueLTStd-Bd; border-right: 1px solid #fff; padding: 10px 0px; }
.info-footer {padding: 15px 55px 0;}
.info-footer ul {padding-inline-start: 55px !important;}
footer {background: #4D4E4E; color:#fff;  font-family: HelveticaNeueLTStd-Lt; margin-top: 40px; font-size: 12px;}
footer a {color:#fff;}
footer a:hover, footer a:active, footer a:focus   {color:#fff;text-decoration: underline;}
footer .grid-flex {display: flex; position: relative;}
footer .grid-flex  .item {width: 20%; margin: 0 7px;}
footer .social {bottom: 2px; position: absolute;}
footer .legal-footer {font-size: 10px !important;}
.social ul li {display: inline-block; text-decoration: none;}

/* -----  Dropdown carrito producto header ----- */
.minicar .dropdown-menu {overflow: hidden;border-radius: 6px; width: 240px; z-index: 10000; margin-top: 8px; padding: 0; box-shadow: 0 1px 2px 0 rgba(0,0,0,.12);}
.minicar .dropdown-menu .top { border-radius: 5px 0 0; color: #EE3E25; font-size: 12px; text-align: center; padding: 9px 0; border-bottom: 1px solid #eceae6;}
.minicar .dropdown-menu li .carro-descripcion.sin-productos {color: #666666; padding: 10px 5px 0; text-align: center; font-size: 12px; margin-bottom: 12px;}
.minicar .scroll { overflow-y: auto; overflow-x: hidden; height: 176px;}
.minicar li.subtotal {font-size: 15px; text-align: center; background-color: #eceae6; padding-top: 10px;}
.carro-descripcion {color: #777777;font-size: 12px;line-height: 17px;text-align: left;}
.carro-descripcion a {color: #666666;}
.carro-descripcion span {color: #EE3E27;font-size: 14px;font-weight: bold;}
.carro-descripcion strong {letter-spacing: 1px; font-family: HelveticaNeueLTStd-Lt; font-size: 10px; line-height: 15px; display: inline-block;}
.subtotal strong {font-family: HelveticaNeueLTStd-Bd; font-weight: initial; font-size: 19px;}
.dropdown-menu .divider {height: 1px; margin: 0; overflow: hidden; background-color: #e5e5e5;}
.dropdown-menu .row.btn-pagar {text-align: center; padding: 2px 7px; padding: 8px 7px; background-color: #eceae6;}
.btn-primary {background: #EE3E27; border: 1px solid #EE3E27 !important;font-family: HelveticaNeueLTStd-Roman;font-size: 13px;color: #fff !important; border-radius: 15px; padding: 5px 30px; margin-top: 5px;}
.btn-primary:hover {background: #EE3E27; color: #fff !important;}
.btn-primary:focus {background: #EE3E27 !important; border: 1px solid #EE3E27 !important;}
.btn-default {border: 1px solid #4D4D4D !important;font-family: HelveticaNeueLTStd-Roman;font-size: 13px;color: #4D4D4D;border-radius: 15px;padding: 5px 30px; margin-top: 5px;}

/* -----Seccion cupones ----- */
.head {padding: 10px 0;margin-bottom: 30px;}
.head h3 {margin: 0; font-family: HelveticaNeueLTStd-LtEx; text-align: center; color: #fff; font-size: 17px; letter-spacing: 8px;}
.head.cupones {background-image: url("../images/desktop/header-cupones.jpg"); background-size: cover;}
.wrapper .row-flex {justify-content: left; display: flex; flex-direction: row; flex-wrap: wrap; max-width: 95%; margin: 0 auto; }
.wrapper .row-flex .cupon {width: 16.666%; padding: 0px 5px 10px;}

/* -----Seccion productos destacados ----- */
.head.productos-destacados {background-image: url("../images/desktop/header-productos-destacados.jpg"); background-size: cover;}
.contenedor-destacados {max-width: 700px; width: 100%; margin: 0 auto;}
.contenedor-destacados .head-categorias {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;}
.contenedor-destacados .head-categorias .item {width: 20%;}
.contenedor-destacados .head-categorias .icono {margin: 0 auto; display: block; width: 70px;}
.contenedor-destacados .head-categorias .nombre {text-align: center;color: #666666;font-size: 10px;margin-top: 7px; margin-bottom: 8px; letter-spacing: 1px;}
.contenedor-destacados .line-active {background-color: transparent; height: 5px; width: 70%; margin: 0 auto; border-radius: 15px; z-index: 2;position: relative;}
.contenedor-destacados .line-active.active {background-color: #EE3E25;}
.contenedor-destacados .head-categorias .item:hover p {color:#EE3E25;}
.line-divider {background-color: #8A8B8B;height: 2px;width: 100%; margin-top: -3px; z-index: 1;}
.seccion-productos-destacados {margin: 50px auto 0; max-width: 900px; width: 100%;}
.seccion-productos-destacados .nombre {text-align: center;  font-family: HelveticaNeueLTStd-Lt; color:#959595; margin-bottom:20px; }
.seccion-productos-destacados .nombre span {font-family: HelveticaNeueLTStd-Bd; color: #31312F;}
.seccion-productos-destacados .banner-destacado {border-radius: 30px; width: 90% !important; margin: 0 auto; max-width: 810px;}
.seccion-productos-destacados .row-marcas { margin-top: 30px;}
.slide-productos-destacados .owl-prev, .slide-productos-destacados .owl-next {background-color: #fff !important; width: 29px;}
.slide-productos-destacados .owl-prev {position: absolute; left: 0;top: 40%;}
.slide-productos-destacados .owl-next {position: absolute; right: 0;top: 40%;}
.row-marcas {justify-content: left; display: flex; flex-direction: row; flex-wrap: wrap;}
.row-marcas .item-marca {width: 14.28%;}
.row-marcas .item-marca img {opacity:1; width:100%;}
.row-marcas .item-marca.inactive img {opacity:.8;}

/* ----- MI CUENTA ----- */
.bg-micuenta {padding-top: 30px;background-image: url("../images/desktop/bg-micuenta.png");background-repeat: no-repeat;background-position: top;     background-size: contain;}
.mi-cuenta {min-height: 380px; background: #fff; width: 100%;max-width: 500px;margin: 0 auto;box-shadow: 0px 0px 10px 0px rgba(0,0,0,.12);padding: 25px 50px;}
.mi-cuenta h3 {color:#EE3E27 ; font-family: HelveticaNeueLTStd-Bd; text-align: center; margin-bottom: 30px;}
.mi-cuenta input {border: 1px solid #EAEAE8; margin-bottom: 8px; box-shadow: none;}
.mi-cuenta .c_olv_pass {font-family: HelveticaNeueLTStd-Lt; color: #EE3E27;text-decoration: underline; font-size: 16px;margin-top: 15px; display: block;}
.btn.center {margin: 0 auto; display: block; text-align: center;}
.mi-cuenta .link-registro {font-family: HelveticaNeueLTStd-Lt; color: #999999;text-align: center;font-size: 16px;}
.mi-cuenta .link-registro a {color: #3A3A3A; text-decoration: underline;}
.mi-cuenta .descripcion {color: #EE3E27; text-align: center; margin-bottom: 20px;}
.modal-header {background-color: #eceae6; color: #666666;}
.modal-body a {color: #EE3E27; text-decoration: underline;}
.btn-lg {padding: 5px 70px;}
input[type="checkbox"]{display: none;}
.mi-cuenta.interna-cuenta.pago-express input[type="radio"]  {display: none;}
input[type="checkbox"]:hover {cursor:pointer !important;}
.mi-cuenta.interna-cuenta.pago-express input[type="radio"]:hover {cursor:pointer !important;}
label:before {display: inline-block; margin-right: 6px;}
.mi-cuenta.interna-cuenta.pago-express label:before {display: inline-block; margin-right: 6px;}
input[type="checkbox"] + label:before {content: url('../images/desktop/uncheck.png'); }
.mi-cuenta.interna-cuenta.pago-express  input[type="radio"] + label:before {content: url('../images/desktop/uncheck.png'); }
input[type="checkbox"]:checked + label:before {content: url('../images/desktop/check.png');}
.mi-cuenta.interna-cuenta.pago-express input[type="radio"]:checked + label:before {content: url('../images/desktop/check.png');}
.mi-cuenta.interna-cuenta {  min-height: initial;max-width: initial;margin: auto;box-shadow: none;padding: initial;}
.mi-cuenta.interna-cuenta {background-color: #F5F5F3;padding: 25px;}
.mi-cuenta.interna-cuenta form {background-color: #fff; padding: 20px 35px;}
.title-micuenta {font-family: HelveticaNeueLTStd-Bd; color: #EE3E27; margin-top: 30px;}
.nav.nav-pills.nav-stacked.menu-tucuenta .active a { background-color: #ee3e27; color:#fff;}
.nav.nav-pills.nav-stacked.menu-tucuenta a {font-family: HelveticaNeueLTStd-Lt;  color: #666666; border-radius: 0px; border: 1px solid #F5F5F3; padding: 8px 15px;}
.nav.nav-pills.nav-stacked.menu-tucuenta li {margin-top: -1px;}
.mi-cuenta.interna-cuenta .form-control[disabled] {background-color: #fff; color: #AEAEAE;}
.mi-cuenta.interna-cuenta  .btn-guardar {margin: 30px auto 0;width: 200px; background: url("../images/desktop/guardar.png") #fff;background-repeat: repeat;background-size: auto auto;background-size: contain;background-repeat: no-repeat;height: 35px;border: none;}
.container-semifluid {padding: 0 5%;}
.t-change-pass {color: #3A3A3C !important;text-align: left !important;font-size: 19px;}
.t-change-dir {color: #3A3A3C !important;text-align: left !important;font-size: 19px;font-family: HelveticaNeueLTStd-Bd;margin-bottom: 30px;}
.mi-cuenta.interna-cuenta .bg-w {background-color: #fff; padding: 20px 35px;}
.panel-default > .panel-heading {background-color: #fff;border-color: #F5F5F5;}
.table.tabla-adicionar-direccion > tbody > tr > td {padding: 4px 8px !important;}
.tabla-adicionar-direccion button {margin-top: 10px;}
#div-direcciones-lista .panel-body {overflow-y: scroll; max-height: 280px;}
.grid-view {color: #666666; font-size: 14px; font-family: HelveticaNeueLTStd-Lt;}
.grid-view a {color: #666666;}
.grid-view thead {display: none;}
.grid-view .idpedido, .grid-view .fecha {margin:0;}
.grid-view .fecha {color: #88C037;}
.grid-view .precio-total {color: #000; font-family: HelveticaNeueLTStd-Md;}
.grid-view .btn.btn-primary {margin:0; padding: 2px 25px;}
.grid-view .ico-carrito {width: 29px; margin: 0px 4px;}
.mi-cuenta.interna-cuenta .grid-view table.items td {position: relative;}
.grid-view .glyphicon {color: #EF472F; font-size: 18px; margin-top: 11px; position: absolute; margin-left: 6px;}
.grid-view table.items tr.even {background: #fff; border-bottom: 2px solid #F5F5F3;}
.grid-view table.items tr.even:hover {background: #fff;}
.grid-view table.items tr.odd {background: #fff;border-bottom: 2px solid #F5F5F3;}
.grid-view table.items tr.odd:hover {background: #fff;}
.grid-view tr > .center {background-color: #eceae6; margin-bottom: 15px;}
.grid-view tr.odd td:last-child {padding: 8px 18px;}
.grid-view tr.even td:last-child {padding: 8px 18px;}
ul.yiiPager{font-size: 14px; margin-top: 15px; display: block;}
ul.yiiPager a:link {  border: none;font-weight: initial !important; color: #666666; padding: 1px 6px; text-decoration: none;}
ul.yiiPager .selected a { background: transparent; color: #EE3E27 !important; font-family: HelveticaNeueLTStd-Bd;}
.pager li > a:focus, .pager li > a:hover {background-color: transparent; color: #EE3E27 !important; font-family: HelveticaNeueLTStd-Bd;}
#gridview-listapersonal .items tbody tr td:nth-child(2) { font-family: HelveticaNeueLTStd-Bd; color:#3A3A3C;}
#gridview-listapersonal .items tbody tr td {padding: 15px 2px;}
.t-change-dir .cat-lista {color: #ee3e27;}
.grid-view table {border-top: 2px solid #F5F5F3 !important;}
#gridview-listadetalle .img-producto-lista img {width: 100%;max-width: 60px;margin-right: 8px;}
#gridview-listadetalle .info-producto {display: flex;}
#gridview-listadetalle .descripcion-producto-lista p {margin:0;}
#gridview-listadetalle .descripcion-producto-lista .descripcion {font-family: HelveticaNeueLTStd-Bd; color: #3A3A3C; text-align: left;}
#gridview-listadetalle .descripcion-producto-lista .presentacion, #gridview-listadetalle .descripcion-producto-lista .fraccionado {font-size: 10px;}
#gridview-listadetalle .descripcion-producto-lista .in-car {}
#gridview-listadetalle.grid-view table.items td {padding: 15px 0;}
#gridview-listadetalle.grid-view .negrilla {font-family: HelveticaNeueLTStd-Bd; color: #3A3A3C;}
#gridview-listadetalle.grid-view .ahora span {font-family: HelveticaNeueLTStd-Bd; color: #ee3e27; font-size: 14px;}
#gridview-listadetalle.grid-view .p-antes, #gridview-listadetalle.grid-view .ahorro, #gridview-listadetalle.grid-view .ahora {font-size: 12px;}
.mi-cuenta.interna-cuenta.pago-express {color:#67666B;}
.mi-cuenta.interna-cuenta.pago-express .panel-body {background-color: #F5F5F3;  font-family: HelveticaNeueLTStd-Lt; }
.mi-cuenta.interna-cuenta.pago-express .panel-title {color:#67666B; font-family: HelveticaNeueLTStd-Lt; position: relative; font-size: 13px;}
.mi-cuenta.interna-cuenta.pago-express .panel-heading { padding: 5px 15px;}
.mi-cuenta.interna-cuenta.pago-express .panel-group .panel + .panel { margin-top: -1px; border-radius: 0;}
.mi-cuenta.interna-cuenta.pago-express .panel-title:after{font-family: 'Glyphicons Halflings'; content: "\e252"; position: absolute; right: 0;}
.bonos-promocionales p {margin: 0; color: #666666;}
.bonos-promocionales p .result_bono {color: #EE3E27; font-family: HelveticaNeueLTStd-Md;}
.bonos-promocionales p:first-child .result_bono {text-transform: uppercase;}
.seccion-bonos .bonos-promocionales:last-child hr {display: none;}
.seccion-bonos .bg-w {padding-bottom: 80px !important;}

/* ----- CARRO DE COMPRAS----- */
.seccion-carrito-compra h3 {color:#EE3E27 ; font-family: HelveticaNeueLTStd-Bd; text-align: center; margin: 30px;}
.seccion-carrito-compra .bg-gr {background-color: #F2F2F2; padding: 20px 35px;}
.seccion-carrito-compra .row-producto-carrito-compras {margin-bottom: 25px; background-color: #fff; -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1); -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1); box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.1);}
.btn.btn-default.txt-rojo {color: #EE3E27;}
.seccion-carrito-compra {color: #666666;}
.seccion-carrito-compra .detalles h4 {color: #EE3E27;}
.seccion-carrito-compra .detalles .sec-detalles {width: 218px;max-width: 218px;}
.seccion-carrito-compra .detalles .sec-detalles .item {border-bottom: 1px solid #EAEAEA; padding: 5px 0;}
.seccion-carrito-compra .detalles .sec-detalles .item:last-child {border-bottom: 1px solid transparent;}
.seccion-carrito-compra .detalles .sec-detalles .item.negrilla {font-family: HelveticaNeueLTStd-Md; color: #404042;}
.seccion-carrito-compra .valor-pagar {font-family: HelveticaNeueLTStd-Bd; font-size: 33px; margin-top: 10px;}
.row-producto-carrito-compras {padding: 20px 30px; display:flex; flex-direction: row; flex-wrap: wrap; position:relative;}
.row-producto-carrito-compras .column-img {width: 20%; display: flex; flex-direction: column; justify-content: center;}
.row-producto-carrito-compras .column-img img {padding: 0 15px;}
.row-producto-carrito-compras .group-botones-cantidad {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;padding: 0 15px;}
.row-producto-carrito-compras .column-descripcion {width: 64%; display: flex; flex-direction: column;}
.row-producto-carrito-compras .column-subtotal {padding: 0 20px; width: 16%; display: flex; flex-wrap: wrap; flex-direction: column; justify-content: center;}
.row-producto-carrito-compras .linea-acciones {margin-top: -20px; justify-content: space-between; display: flex; flex-direction: row; flex-wrap: wrap;}
.row-producto-carrito-compras .linea-acciones .precios {margin-top: 12px;}
.row-producto-carrito-compras .column-descripcion .nombre .name {font-family: HelveticaNeueLTStd-Md; color: #404042; font-size: 15px;}
.row-producto-carrito-compras .column-descripcion .nombre .sku { font-family: HelveticaNeueLTStd-Lt; margin-left: 8px;}
.column-descripcion .fila-sup {border-bottom: 2px solid #DDDDDD; padding-bottom: 20px; padding-right: 10px;}
.column-descripcion .fila-inf {padding-bottom: 10px; padding-right: 10px; padding-top: 10px;}
.column-descripcion {border-right: 2px solid #DDDDDD;}
.row-producto-carrito-compras .column-descripcion .precios .ahorro {margin-left: 6px; color: #EE3E27;}
.row-producto-carrito-compras .column-descripcion .linea-acciones .precio-total {color: #EE3E27; font-family: HelveticaNeueLTStd-Bd; font-size: 25px; margin-left: 7px;}
.row-producto-carrito-compras .column-descripcion .cantidad {width: 140px;}
.row-producto-carrito-compras .column-descripcion .linea-acciones .cantidad {display: flex; flex-wrap: wrap; padding: 0 15px;}
.row-producto-carrito-compras .column-descripcion .linea-acciones .cantidad p {margin: 0; font-family: HelveticaNeueLTStd-Lt;}
.row-producto-carrito-compras .column-descripcion .linea-acciones .cantidad .group-buttons {width: 100%;}
.row-producto-carrito-compras .column-descripcion .linea-acciones .cantidad .group-buttons button {border: 1px solid #919191; background-color: #fff; color: #EE3E27; font-family: HelveticaNeueLTStd-Bd; border-radius: 5px;}
.row-producto-carrito-compras .column-descripcion .linea-acciones .cantidad .group-buttons input {border: 1px solid #919191; background-color: #fff; color: #EE3E27; font-family: HelveticaNeueLTStd-Bd; border-radius: 5px; text-align: center;}
.row-producto-carrito-compras .column-subtotal {font-family: HelveticaNeueLTStd-Lt;}
.row-producto-carrito-compras .column-subtotal .price {font-size: 25px; color: #EE3E27; font-family: HelveticaNeueLTStd-Bd;}
.row-producto-carrito-compras .accion-eliminar a {color: #EE3E27; font-family: HelveticaNeueLTStd-Bd; font-size: 12px;padding: 4px 10px; border-radius: 50%;border: 1px solid #919191;margin-top: 13px;display: block;}
.chispa-productos {background-color: #EE3E27;color: #fff;display: inline-block;width: 50px;font-size: 18px;padding: 5px;position: absolute;top: 0;left: 0;}
.chispa-productos:after {content: "";width: 0;height: 0;border-top: 18px solid transparent;border-left: 18px solid #EE3E27;border-bottom: 18px solid transparent; position: absolute;top: 0;}
.row-producto-carrito-compras .presentacion {text-transform: uppercase;}
.row-producto-carrito-compras.p-unidad .fila-sup {border-bottom: 2px solid transparent;}
.row-producto-carrito-compras .column-descripcion .entrega-especial {margin-top: 15px;}
.row-producto-carrito-compras .column-descripcion .entrega-especial span {color: #EE3E27; border: 1px solid #EE3E27; padding: 5px 12px;}
.row-producto-carrito-compras.p-unidad .column-descripcion .fila-sup {padding-bottom: 0px;}

/* ----- RESULTADO DE BÚSQUEDA ----- */
/* -- Filtro -- */
.title-filtro {font-family: HelveticaNeueLTStd-Bd; font-size: 18px;}
.menu-categorias .panel-heading {background: #EBEAE5; color: #818282 !important; border-radius: 0px !important;}
.panel-body ul {padding: 0; list-style-type: none;}
.panel-body ul li label{color: #676767;font-size: 12px;}
.slider-selection {background-color: #EE3E27; background-image: none !important;}
.slider-handle {background-color: #EE3E27 !important; background-image: none !important;width: 15px; height: 15px; top: 3px;}
.slider.slider-horizontal {width: 100% !important; margin-bottom: 15px;}
#collapse-precio- { color: #999999;}
.search-priced {width: 45%; border-radius: 10px; border: 1px solid #999999; text-align: center; color: #999999; padding: 4px;}
.center .panel-title {color: #676767 !important; font-size: 16px; margin-bottom: 7px;}
/*Ordenamiento*/
.option-list {float: right;}
.btn-group.viewsList {border-right: 1px solid #a3a3a3; float: right; margin-right: 10px;}
.option-list {float: right;}
.ordering_item {margin-right: 10px;}
/*listado de productos*/
.listaProductos .items.items4 {display: flex; flex-direction: row; flex-wrap: wrap; justify-content: left;}
.listaProductos .items.items4 li {width: 25%;position: relative;}
.col-md-10.side {border-left: 2px solid #C0C0C2;}
.listaProductos {margin-top: 25px;}
.listaProductos .border-dotted {border: 1px; border-style: hidden dashed dashed hidden; border-color:#C0C0C2; list-style-type: none;}
.listaProductos .border-dotted:nth-child(4n+0) {border-style: hidden hidden dashed hidden;}
.listaProductos .content-product {padding: 20px;}
.listaProductos .border-dotted .chispa-productos  {top: 15px;left: 15px;width: 45px; font-size: 14px;}
.listaProductos .border-dotted .chispa-productos::after {content: ""; width: 0; height: 0; border-top: 14px solid transparent; border-left: 8px solid #EE3E27; border-bottom: 17px solid transparent; position: absolute; top: 0; right: -8px;}
.not_padding {padding: 0 !important;}
.iconos_right {position: absolute;right: 10px;top: 15px;display: flex;flex-direction: column;align-items: end;}
.iconos_right .itm_ico {display: block; height: 20px; width: 20px;margin-bottom: 4px;}
.fraccion_text {margin: 2px 0; background: #fff; color: #F79421; font-size: 9px; text-align: center; border: 3px solid #F79421;}
.fraccion_text > span { color: #F79421 !important; display: block; font-size: 12px; font-weight: bold; line-height: 7px; margin-top: 4px;}
.btnComparar.itm_ico { background: #2E64FE; color: #fff; text-align: center; }
.product-prom {margin: 0 auto;}
.itm_ico.pop_codigo.product-prom.cod_especial img {width: 20px; position: absolute; right: 0;}
.noimagenProduct {max-width: 150px; min-width: 150px;}
.ico-puntos {background: #EBC518;color: #fff;padding: 4px 7px;margin-bottom: 4px;font-size: 9px;}
.content_product .nombre-product a {color: #19191A; text-align: center; font-family: HelveticaNeueLTStd-Bd;}
.line-bottom .descripcion-grid {text-align: center; text-transform: uppercase; color: #676767;}
.btn-suscribete-ahorra {color: #EE3E27; text-align: center; display: block; border: 1px solid #EE3E27; padding: 2px; font-family: HelveticaNeueLTStd-Md; width: 80%; margin: 0 auto;}
.btn-suscribete-ahorra:hover, .btn-suscribete-ahorra:focus, .btn-suscribete-ahorra:active{color: #EE3E27;}
.prices_status {font-family: HelveticaNeueLTStd-Lt;color: #676767;}
.prices_status .ahorro {color: #EE3E27;}
.strike {text-decoration: line-through;}
.prices_status .price {color: #EE3E27;font-family: HelveticaNeueLTStd-Bd;font-size: 20px;border: 1px solid #EE3E27;text-align: center;border-radius: 12px;}
.botones-fraccionados {display: flex; flex-direction: row; flex-wrap: wrap;margin-top: 10px;}
.botones-fraccionados .botones {width: 45%; margin: 0 5px;}
.botones-fraccionados .botones a {background: #EE3E27; color: #fff; padding: 5px 8px; border-radius: 25px; font-size: 13px; text-align: center; margin: 0 auto; display: block; line-height: 13px;}
.group-botones-cantidad {display: flex; flex-wrap: wrap; padding: 0 15px; width: 135px;}
.group-botones-cantidad button { border: 1px solid #919191; background-color: #fff; color: #EE3E27; font-family: HelveticaNeueLTStd-Bd; border-radius: 5px;}
.group-botones-cantidad input {border: 1px solid #919191; background-color: #fff; color: #EE3E27; font-family: HelveticaNeueLTStd-Bd; border-radius: 5px; text-align: center; margin: 0 3px;}
.content_product {margin-bottom: 10px;}
.btn-primary:active {background-color:#EE3E27 !important;}
/*Detalle de producto*/
.title-categorias {font-family: HelveticaNeueLTStd-Bd;font-size: 21px;color: #343433;}
.side-categorias {background-color: #F5F6F7;padding: 15px 10px;}
.side-categorias .category .glyphicon {color: #999999;}
.side-categorias .category .glyphicon.active {color: #EE3E27;}
.side-categorias .category {margin-bottom: 15px;}
.side-categorias .category .title {font-family: HelveticaNeueLTStd-Bd; color: #343433;}
a.clst_slct_prod {display: none !important;}
.side-categorias .category ul {list-style-type: none; padding-inline-start: 25px;font-family: HelveticaNeueLTStd-Lt;}
.detalle-producto {padding: 15px 20px;}


/* ----- ERROR 404 ----- */
.info-404 {background: #F2F2F2; max-width: 700px; margin: 40px auto; padding: 40px; color: #666666; font-family: HelveticaNeueLTStd-Lt; font-size: 15px;}
.info-404 hr {border-top: 1px solid #808184;}
.info-404 .glyphicon {color: #EE3E27;font-size: 35px;}
.info-404 .btn {margin-top: 20px;}
.info-404 h1 {  color: #EE3E27;  font-family: HelveticaNeueLTStd-Bd; }
