.ad-gallery .ad-thumbs li a.ad-active img {
    border: 3px solid #ea0001;
}
.product_detail #gallery .ad-thumb-list > li {
    max-width: 33.3333%;
}
.product_detail{
    margin: 60px 0;
}
.line-bottom.detPproduct {
    margin-bottom: 15px;
    padding: 20px 0;
}
.detPproduct .input_cant {
    float: left;
    margin: 0 3px;
    width: 125px;
}
.detPproduct .min {
    float: left;
    height: 27px;
    width: 80px;
}
.slide-productos .owl-item:first-child {
    border-left: 0;
}
.slide-productos .owl-item {
    border-left: 1px dashed #ccc;
}
.noimagenProduct{
    max-width: 150px;
    min-width: 150px;
}
#owl-carousel.slide-productos {
    padding:35px;
}
.slide-productos .owl-buttons .owl-prev {
    background: #ea0001 none repeat scroll 0 0 !important;
    left: 0;
    opacity: 1 !important;
    position: absolute;
    top: 25%;
    padding:3px 6px !important;
}

.slide-productos .owl-buttons .owl-next {
    background: #ea0001 none repeat scroll 0 0 !important;
    right: 0;
    opacity: 1 !important;
    position: absolute;
    top: 25%;
    padding:3px 6px !important;
}
.conten_user_infor {
    border-left: 1px solid #ccc;
    padding-left: 20px;
    padding-top: 0;
}
.container.content_user_info {
    margin: 20px;
    width: 99%;
}
.nav.nav-pills.nav-stacked.menu-user li.active a {
    background: #ea0001 none repeat scroll 0 0;
    color: #fff;
}
.nav.nav-pills.nav-stacked.menu-user li a {
    border-radius: 0 !important;
    color: #6f6f6f;
}
.nav.nav-pills.nav-stacked.menu-user {
    border: 1px solid #ccc;
}
.nav.nav-pills.nav-stacked.menu-user li {
    border-bottom: 1px solid #ccc;
}
.nav.nav-pills.nav-stacked.menu-user li:last-child {
    border-bottom: 0;
}
#select2-RegistroForm_profesion-container {
    color: #a3a3a3;
}
input#RegistroForm_condiciones[type="checkbox"] + label span {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.user.login_in {
    margin-top: 17px;
}
.categorias li a:hover li {
    background-color: #dadada;
    color: #e90000;
}
#form-ordenamiento-listaproductos .panel .panel-body ul li label span {
    margin-left: -25px;
}
#form-ordenamiento-listaproductos input[type="radio"] {
    display: none;
}
#form-ordenamiento-listaproductos input[type="radio"] + label span {
    background: rgba(0, 0, 0, 0) url("../images/desktop/check-box.png") repeat scroll right center;
    cursor: pointer;
    display: inline-block;
    height: 21px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    width: 21px;
}
#form-ordenamiento-listaproductos input[type="radio"]:checked + label span {
    background: rgba(0, 0, 0, 0) url("../images/desktop/check-box.png") repeat scroll left center;
}
#calificacion-filtro-listaproductos > img {
    width: 17%;
}

.menu-categorias #form-filtro-listaproductos .panel .panel-body ul li label span {
    margin-left: -29px;
}

.menu-categorias #form-filtro-listaproductos .panel .panel-body ul li label, #form-ordenamiento-listaproductos .panel .panel-body ul li label  {
    padding-left: 29px;
    cursor: pointer;
}

.menu-categorias #form-filtro-listaproductos .panel .panel-body ul, #form-ordenamiento-listaproductos .panel .panel-body ul  {
    margin: 0;
    padding: 0;
}

.menu-categorias #form-filtro-listaproductos .panel .panel-title a, #form-ordenamiento-listaproductos .panel .panel-title a {
    outline: medium none;
}

.menu-categorias #form-filtro-listaproductos .panel, #form-ordenamiento-listaproductos .panel {
    border-color: -moz-use-text-color -moz-use-text-color #ccc;
    border-radius: 0;
    border-style: none none solid;
    border-width: 0 0 1px;
    padding-bottom: 2px;
}

.menu-categorias #form-filtro-listaproductos .panel:last-child, #form-ordenamiento-listaproductos .panel:last-child {
    border-bottom: 0;
}
.menu-categorias #accordion-filtros {
    margin-top: 20px;
}
.list-view .pager ul li.selected a {
    color: #fff;
}
.list-view .pager ul li a {
    border: 1px solid red;
    color: #6c6363;
    font-size: 13px;
    font-weight: normal;
}
.list-view .pager {
    margin: 20px 0;
}
.list_lineal .listaProductos .content-txt2 {
    padding: inherit;
}
.list_lineal .listaProductos .items li {
    width: 100%;
}
.list-view .summary {
    color: #6f6f6f;
    margin:0 0 20px;
}
.select2-selection__arrow {
    background: #a3a3a3 none repeat scroll 0 0;
    color: #fff;
}
.select2-selection__arrow b {
    border-color: #fff transparent transparent !important;
}
.select2-container .select2-selection--single .select2-selection__rendered{
    padding-right: 27px;
    color: #EA0001;
}
.select2-container--default .select2-selection--single{
    border-radius: 0;
}
.viewsList .btn-white {
    background: #a3a3a3 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
    padding: 2px 7px;
}
.row.top_list {
    color: #6f6f6f;
    margin-bottom: 20px;
    margin-top: 20px;
}
.option-list .select2.select2-container.select2-container--default {
    width: auto !important;
}
.option-list {
    float: right;
}
.btn-group.viewsList {
    border-right: 1px solid #a3a3a3;
    float: right;
    margin-right: 10px;
}
.clear{
    clear: both;
}
.listaProductos .items li {
    display: inline-block;
    margin-bottom: 30px;
    vertical-align: top;
    width: 24%;
}
.content_product {
    min-height: 190px;
    color:#6c6363;
}
.prices_status {
    color: #9f9f9f;
}
.listaProductos .content-txt2 {
    padding: 0 20px;
}
.listaProductos {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.container-fluid.group-botones-cantidad {
    padding: 5px 15px;
}
.fraccion_text {
    display: block;
    padding: 5px 0;
}
.btn-addless-cantidad {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #ea0001;
    padding: 1px 10px;
    width: 100%;
}
.btn-addless-cantidad span{
    color: #ea0001;
}
.border-left:first-child {
    border: 0 none;
}
#contenidoCompararProductos .content-txt2 {
    padding: 0 5%;
}
.btn-pagar a.btn {
    background: #EA0001 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
}
.carro-descripcion  a {
    color: #666666;
}
.minicar li.vermasc {
    padding: 0;
}
.row.btn-pagar{
    text-align: center;
}
.minicar .vermasc > a {
    background-color: #e6e6e6;
    color: #EA0001;
    text-align: center;
    font-size: 13px;
}
.minicar li.subtotal {
    font-size: 15px;
    text-align: center;
}
.minicar li.subtotal strong {
    font-size: 19px;
}
.minicar .vermasc > a:hover {
    background-color: #EA0001;
    background-image: none;
    color: #ffffff;
}
.carro-descripcion  span {
    color: #EA0001;
    font-size: 14px;
    font-weight: bold;
}
.minicar .divider {
    margin: 0;
    padding: 0 !important;
}
.carro-descripcion {
    color: #777777;
    font-size: 12px;
    line-height: 17px;
    text-align: left;
}
.scroll > li {
    padding: 7px 2px;
}
.minicar .scroll {
    height: 214px;
    overflow-y: auto;
}
.info-compra .minicar .dropdown-toggle {
    box-shadow: none;
    text-decoration: none;
}

.info-compra .minicar .dropdown-menu {
    border-radius: 6px 0 6px 6px;
    box-shadow: none;
    width: 200px;
    z-index: 10000;
    border: 1px solid #EA0001;
    padding-top: 0;
}

.info-compra .minicar .dropdown-menu .top {
    background-color: #EA0001;
    border-radius: 5px 0 0;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}
.info-compra .minicar .dropdown-menu > li {
    padding: 9px 0;
}

.info-compra .minicar .dropdown-menu  li .carro-descripcion.sin-productos {
    color: #808487;
    padding: 10px 5px 0;
    text-align: center;
}
.carro-descripcion {
    color: #777777;
    font-size: 12px;
    line-height: 17px;
    text-align: left;
}
.content-category #btn-buscador-productos {
    float: right;
    margin-right: 2%;
}
.top_ubicacion {
    color: #6f6f6f;
    font-size: 13px;
    line-height: 13px;
    margin-top: 15px;
}
header {
    color: #333;
}
.main_menu ul li a {
    display: block;
    padding: 1px 15px;
}
.padding6px {
    padding-left: 6px;
    padding-right: 6px;
}
.padding6px:first-child {
    padding-left: 0;
}
.padding6px:last-child {
    padding-right: 0;
}
.logo-top img{
    width:150px ;
}

.navbar-nav{
    margin-top: 8px;
}
.ciudad{
    border: 1px solid #A3A3A3;
    border-radius: 4px;
    padding: 5px 23px 5px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.ciudad a {color: #A3A3A3;text-decoration: none;font-size: 17px;}

.ciudad .glyphicon-arrow-down {color: #EF4148;margin-left: 8px;}

.content-search .form-control {
    border: 1px solid #A3A3A3;
    margin: 18px 0 18px;
    border-radius: 4px 0px 0px 4px;
    color: #EA0001;
}
.controls{
    border: 1px solid #A3A3A3;
    border-left: none;
    border-radius:0px 4px 4px 0px;
    color: #EA0001;
    padding: 4px 48px;
    margin: 18px 0 18px;
    font-size: 17px;
    height:34px;
}
.ico-buscar{
    width: 50px;
    float: right;
    position: absolute;
    margin-top: -10px;
}
.content-search{padding-right: 0px;}
.ico-user{
    width: 16px;
}
.user{
   /* width: 270px;*/
    margin-top: 25px;
    padding: 0;
    float:left;
   /* position: absolute;*/
}
.user li{
    display: inline-block;
}
.user li a {
    color: #A3A3A3;
}
.cantidad-productos{
    border: 1px solid #A3A3A3;
    border-radius:4px; 
    padding: 5px;
    color: #EA0001;
    font-weight: bolder;
}
.ico-carrito {
    height: 25px;
}
.info-compra {
    float: right;
    margin-right: 10px;
    margin-top: 13px;
}
.content-category{padding-left: 0px;}
.main-nav li{
    display: inline-block;
    font-size: 20px;
    color: #fff;
}
.main-nav a{
    color: #fff;

}

.main-nav a:hover{
    text-decoration: none;
}

.main-nav{
    padding: 0px;

}

.carousel .item {
    width: 100%; 
    max-height: 600px; 
}
.carousel .item img {
    width: 100%; 
}

.carousel .carousel-control {
    background: none;
    border: none;
    top: 50%;
}
/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}


.categorias{
    text-align: center;
    background-color: #EA0001;
    border: 1px solid #EA0001;
}
/*
.modulo-menu{
    border-radius: 0px 10px 10px 0px;
}
*/
.carousel-control.left {background-image: none !important;}
.carousel-control.right {background-image: none !important;}

.title{
    margin-top: 30px;
}
.title span i{
    color:#EA0001;
}

.product-prom{
    margin: 0 auto;
}

.description{
    text-align: center;
}
.border-right{
    border-right: 1px dashed #ccc;
}
.border-left{
    border-left: 1px dashed #ccc;
}
.sep{
    width: 100%;
    height: 5px;
    background-color: #01B9DF;
    margin-top: 50px;
    margin-bottom: 50px;
}
.head{
    background-color: #01B9DF;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 15px;
}

.price{
    font-size: 17px;
    color: #EA0001 !important;
    padding:5px 0;
}

.txt{
    margin-top: 8px;
}

.img-footer{
    text-align:center;
}

footer{
    border-top:5px solid #EA0001; 
    background-color: #6F6F6F;
    color: #fff;
}

.titulo-footer{
    border-right: 2px solid #fff;
    padding: 10px 0px;
}
.titulo-footer-last{
    padding: 10px 0px;
}
footer ul {
    padding: 10px 20px;
}
footer a {
    color: #fff;
}
footer a:hover {
    color: #504F4F;
}
footer li a:hover{
    color:#504F4F;
    text-decoration: none;
}
.categorias li a:hover{
    color: #E90000;
    background-color: #DADADA;
}

.prev-slide {
    background-image: url('../images/desktop/flechas-slide.png');
    background-position: center top;
    display: inline-block;
    width: 31px;
    height: 31px;
}
.next-slide {
    background-image: url('../images/desktop/flechas-slide.png');
    background-position: center bottom;
    display: inline-block;
    width: 31px;
    height: 31px;
}

.star-on{
    background-image: url('../images/desktop/star-on.png');
    width: 25px;
    height: 30px;
    display: inline-block;
    background-position: center bottom;
}

.star-off{
    background-image: url('../images/desktop/star-off.png');
    width: 25px;
    height: 30px;
    display: inline-block;
    background-position: center top;
}
.productos-destacados span i{
    font-size: 14px;
}
.productos-destacados {
    color: #818181;
    font-size: 18px;
    font-weight: bold;
}
.content-txt{
    text-align: center;
}
.content-txt a {
    color: #9f9f9f;
}
.content-txt a:hover {
    text-decoration: none;
}
.content-txt span{
    color: #9f9f9f;
}
.content-txt2{
    text-align: left;
}
.content-txt2 a {
    color: #9f9f9f;
}
.content-txt2 a:hover {
    text-decoration: none;
}
.content-txt2 span{
    color: #9f9f9f;
}
.main_menu .nav-pills > li {
    height: 55px;
}

/*
.ico-bebe{
        background-image: url('../images/desktop/ico-mundo-bebe.png');
        width: 24px;
        height: 33px;
        display: inline-block;
    background-position: center center;
    margin-right: 20px;
}
.ico-natural{
        background-image: url('../images/desktop/ico-natural.png');
        width: 33px;
        height: 33px;
        display: inline-block;
    background-position: center center;
    margin-right: 20px;
}
.ico-promociones{
        background-image: url('../images/desktop/ico-promociones.png');
        width: 33px;
        height: 33px;
        display: inline-block;
    background-position: center center;
    margin-right: 20px;
}
*/

.title-bebe {
    margin-left: 10px;
    font-size: 25px;
}

.main_menu .nav > li > a:focus, .main_menu .nav > li > a:hover {
    background: none;
}

.main_menu .nav > li > a {
    color: #fff;
    font-size: 25px;
}
.main_menu .nav-pills > li + li {margin-left: 0px !important;}
.main_menu .nav .open > a, .main_menu .nav .open > a:focus, .main_menu .nav .open > a:hover {background: none;}

.ico-cat{
    background-image: url('../images/desktop/ico-menu-categorias.png');
    display: inline-block;
    width: 35px;
    height: 19px;
    margin-left: 4px;
}
/*
.ico-mundo-bebe{
    background-image: url('../images/desktop/ico-mundo-bebe.png');
    /*display: inline-block;
    width: 50px;
    height: 28px;
    /*margin-left: 25px;
}*/
.dropdown-menu.category {
    /*width: 16.6667%;*/
    margin-top: 0px;
    border-radius: 0;
    background-color: #DADADA;
    padding-bottom: 9px;
}

.dropdown-menu.category li {
    padding: 0px 0px 11.5px;
    font-size: 17px;
    color: rgb(101, 101, 101);

}
.dropdown-menu.category > li > a {
    padding: 3px 16px;
}

.title-footer2{
    margin-left:41px;
    position:absolute;
    margin-top:-11px;
}
.product-bebes{
    color: #B1B1B1;
}
.product-bebes .button{
    background-color: #EA0001;
    color: #fff;
    padding: 7px;
}
.product-bebes .button:hover{
    background-color: #DE181F;
}
.product-bebes a:hover{
    text-decoration: none;
}
.button {
    background-color: #EA0001;
    color: #FFF;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
}
.button-resena {
    background-color: #EA0001;
    color: #FFDF1E;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
}
.button:hover{
    cursor: pointer;
    background-color:#E0151D; 
}
.button-lista{
    background-color: #D2CECE;
    color: #6C6363;
    padding: 0px 12px;
    text-align: center;
    margin-bottom: 5px;
}
.producto-fraccionado{
    background-color: #D2CECE;
    color: #E0151D;
    padding: 3px 4px;
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
}
.comprar-ahora{
    background-color: #D2CECE;
    color: #757575;
    padding: 3px 4px;
    text-align: center;
    margin-top: 5px;
    font-size: 22px;
    cursor: pointer;
}
.producto-fraccionado:hover{
    background-color: #FFDF1E;
}

.button-lista .glyphicon {
    color: #6C6363;
}
.button-lista:hover{
    background-color: #B6B6B6;
}
.product-bebes .imagen{
    width: 141px;
}
.menu-categorias{
    color: #828282;
}
.menu-categorias li{
    list-style: none;
    padding-bottom: 5px;
}
.menu-categorias li:hover{
    color: #EA0001;
}
.menu-categorias a{
    color: #828282;
}
.menu-categorias a:hover{
    color: #828282;
    text-decoration: none;
}
.menu-categorias .glyphicon{
    font-size: 12px;
}
.ressete{
    padding: 0;
}
.breadcrumb{
    background-color:#fff; 
    padding: 20px 63px;
}
.breadcrumb a {
    color: #828282;
}
.breadcrumb > li + li::before {
    padding: 0px 5px;
    color: #828282;
    content: "| ";
}
.cat-collapsables .glyphicon {
    border: 1px solid #828282;
    border-radius: 4px;
    padding: 5px;
    float: right;
    margin-top: -5px;

}/*
.panel {
    border: none;
}

.panel-default > .panel-heading {
    background-color: transparent;
}
.panel-body{
    padding: 0px 8px;
    /*border: 1px solid #E9E1E1;
}
.panel-body ul{
    padding: 5px;
}*/

.line-bottom{
    border-bottom: 1px dashed #9F9F9F;
    padding: 5px 0;
}
.increment {
    border: 1px solid #ccc;
    color: #ea0001;
    font-weight: bolder;
    text-align: center;
    width: 100%;
}
.side{
    font-size: 15px;
}
.btn-primary{
    background-color: #979798;
    border-color: #979798 ;
}
.btn-primary:hover{
    background-color: #7C7D7E;
    border-color: #7C7D7E ;
}
.line-sep{
    border-right: 1px solid #ccc;
    width: 2px;
    height: auto;
    padding-right: 12px;
}
.page-product {
    margin:0px !important;
    position:relative;
    width:60px;
    float:right;
    border-radius:0px;
    font-weight: bolder;
    font-size: 15px;
}
.slider.slider-horizontal {
    width: 100% !important;
}

.slider-track{
    box-shadow:none!important;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.slider-selection{
    background-color: #EA0001;
    background-image:none !important;
}
.slider-handle{width:13px !important; height:13px !important;}
.slider-handle.round{
    border-radius: 0px !important;
}
.slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle {margin-top: 0px !important;}
.slider.slider-horizontal .slider-track {height: 13px !important;}
.slider-handle {background-color: #FFDF1E !important;background-image:none !important;}
.search-priced {
    width: 45%;
    border-radius: 4px;
    border: 1px solid #ccc;
    text-align: center;
}
.slider.slider-horizontal {
    margin-top: 5px;
    margin-bottom: 9px;
}
.content-txt2 .glyphicon {
    color: #EA0001;
    text-align: center;
}
.button-lista .glyphicon {
    color: #6C6363;
}
.image-interna{
    width: 300px;
}
.descripciones{
    padding: 0px 79px;
}
.contenedor{
    padding:91px 21px 10px;
    background-color: #EAEAEA;
}
.line-bottom2{
    border-bottom: 2px solid rgba(204, 204, 204, 0.44);
    margin-bottom: 15px;
    padding-bottom: 20px;
}
.progress-bar-danger{
    background-color: #EA0001;
}
.content-resena{
    padding: 40px 100px;
}
.titulo-fraccionado{
    color:#EA0001;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.center{
    text-align: center;
}

.center-div{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type="checkbox"]{ display: none; }

input[type="checkbox"] + label span{
    display: inline-block;
    width: 21px;
    height: 21px;
    background: url(../images/desktop/check-box.png) right;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span{
    background: url(../images/desktop/check-box.png) left;
}
label{
    color:#999999;
}
.sep-dashed{
    border-bottom: 1px dashed #999999;
    padding: 6px 0px;
}
.antes{
    color:#EA0001;
    font-size: 25px;
}

.strike{
    position: relative;
}

.strike::after{
    content: '';
    border-bottom: 3px solid red;
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
}
.strike2{
    position: relative;
}

.strike2::after{
    content: '';
    border-bottom: 2px solid red;
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
}

.ahorro{
    color: #999;
    font-size: 17px;
}
.ahora{
    color: #EA0001;
    font-size: 25px;
}

.min {
    background-color: #EA0001;
    color: #fff;
    border: 1px solid #EA0001 !important;
    height:27px;
}
.select-cantidad{
    padding-right: 5px;
    padding-left: 5px;
}
.subtotal{
    /*border-top: 1px dashed #999999;
    padding: 6px 0px;
    color: red;
    font-size: 18px;*/
}
.anadir{
    font-size: 23px;
}
a:hover{
    text-decoration: none;
}
.der{
    color: #EA0001;
}
.sep2 {
    width: 100%;
    height: 5px;
    background-color: #EDEDED;
    margin-top: 50px;
    margin-bottom: 50px;
}
.prev-slide2 {
    background-image: url("../images/desktop/flechas-slide2.png");
    background-position: center bottom;
    display: inline-block;
    width: 54px;
    height: 54px;
}
.next-slide2 {
    background-image: url("../images/desktop/flechas-slide2.png");
    background-position: center top;
    display: inline-block;
    width: 54px;
    height: 54px;
}
.cabecera-tabla{
    background-color: #EA0001;
    color: #fff;
}
.table > tbody > tr > td {
    border-top: 1px dashed #EDEDED;
}

.img-table{
    width: 115px;
    margin: 0 auto;
}

.cabecera-tabla th{
    text-align: center;
}
.detalles span{
    color: #ccc;
    font-size: 17px;
}
.detalles h3{
    color:#EA0001;
}

.steps ul {
    display: table;
    padding: 0px;
}

.steps ul li {
    color: #505050;
    display: block;
    float: left;
    font-size: small;
    letter-spacing: -1px;
    list-style: outside none none;
    width: 277px;
    text-align: center;
}
.steps li {
    padding: 0px 42px;

}
.iconStep {
    background-position: center top;
    background-size: 100% auto;
    display:block;
    height: 70px;
    width: 100px;
}

.iconStep.step1 {
    background-image: url("../images/iconos/icons_carro/desktop/despacho.png");
}

.iconStep.step2 {
    background-image: url("../images/iconos/icons_carro/desktop/entrega.png");
}

.iconStep.step3 {
    background-image: url("../images/iconos/icons_carro/desktop/pago.png");
}
.iconStep.step4 {
    background-image: url("../images/iconos/icons_carro/desktop/confirmacion.png");
}
.steps ul li.active p{
    color: #FF1500;
}
li.active .iconStep {
    background-position: center 74px;
}
.border-solid-right{
    border-right: 1px solid #A4A4A4;
}
.steps p {
    margin: 0px;
}
.text{
    display: inline-block;
    position: absolute;
    font-size: 22px;
    color: #A4A4A4;
    margin-top: -46px;

}

.desplegables{
    padding: 20px 50px 30px;
    background-color: #F5F5F5;
    border-top: 5px solid #E90000;
    margin-top: 20px;
}

.head-desplegable {
    border-radius: 0px;
    border: 1px solid #E9E1E1;

}

.panel-title a{
    display:block;
}

.panel-title a.collapsed {
    background: url(../images/desktop/right_arrow.png) center right no-repeat;
}

.panel-title a {
    background: url(../images/desktop/downArrow.png) center right no-repeat;
}

.panel-title{
    font-size: 18px;
    color: #A4A4A4;
}

.panel{
    box-shadow: none;
}

.title-desp{
    color:#E90000;
    margin-top: 17px;
}
.info-oficina{
    padding:24px;
}
.info-oficina p {
    margin: 0px;
    color: #A4A4A4;
    font-size: 18px;
}
.editar{
    background-color: #fff;
    border: 1px solid #A4A4A4;
    font-size: 17px;
    padding: 4px 27px;
    color: #A4A4A4;
}

.editar:hover{
    background-color: #F5F3F3;
}

.adicionar{
    background-color: #E90000;
    border: 1px solid #E90000;
    font-size: 17px;
    padding: 4px 27px;
    color: #fff;
}

.adicionar:hover{
    background-color: #E10303;
    border: 1px solid #E10303;
}

.siguiente{
    background-color: #fff;
    border: 1px solid #A4A4A4;
    font-size: 17px;
    padding: 4px 19px;
    color: #A4A4A4;
}

.siguiente:hover{
    background-color: #F5F3F3;
}

.date-time{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: URL(../images/desktop/downArrow.png) no-repeat 380px 3px #fff !important;
    color: #A4A4A4;
}

.coment{
    background-color: #EBEBEB;
    padding: 15px;
}
.coment textarea{
    border: none;
    color: #A4A4A4;
}

.coment p {
    margin: 0px;
    color: #A4A4A4;
    font-size: 18px;
}

.select {
    -moz-appearance: none;
    background: #FFF url("../images/desktop/downArrow.png") no-repeat scroll 43px 3px !important;
    color: #A4A4A4;
}

.confirm p {
    font-size: 18px;
    color: #A4A4A4;
    margin-bottom: 0px;
}

.rojo{
    color: #E90000 !important;
}
.submenu{
    list-style: none;
    position: absolute;
}
.title-submenu{
    border-bottom: 1px solid;
}
.dropdown-menu .submenu li {
    padding: 0px;
}
.right-nav{
    margin-left: 222px;
    position: absolute;
    margin-top: -133px;
    width: 105%;
    background-color: #E8E8E8;
    display: none;
} 
.section-submenu{
    padding: 10px 0px;
}
.dropdown-menu .submenu .section-submenu a li{
    font-size: 14px;
}
.cuidado-personal:hover .right-nav{
    display: block;
}
.mundo-bebes:hover .right-nav{
    display: block;
}
.submenu .glyphicon {
    font-size: 15px;
    margin-left: -19px;
    margin-right: 5px;
}

.todas-categorias{
    margin-top: -19px;
    border-radius: 0px;
    padding: 0px;
}

#owl-demo .item{
    margin: 3px;
}

#owl-demo .item>img{
    display: block;
    width: 100%;
    height: auto;
}

.btn-ciudad{
    width: 100%;
}

.list-view .items-float .view
{       
    width: 200px;
    height: 200px;
    float:left;   /* <--- this will make the items float */
}

.justify, .justify p{
    text-align: justify;
}

.dialogo-animado {
    /*background: none repeat scroll 0 0 #b40000;*/
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    -o-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    color: #FFFFFF;
    padding: 1%;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 50%;
    z-index: 1000000;
    opacity: 0;
    /*line-height: 14px;*/
    font-size: 1.1em;
    /*  -moz-transition: all 0.5s ease-in-out 0s;
      -webkit-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s;*/
}

.grid-view-loading { background-image:none }

.grid-view table.items th {
    background: #b10000; /* Old browsers */
    //background: -moz-linear-gradient(top,  #ff0000 0%, #ab0000 100%); /* FF3.6+ */
    //background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff0000), color-stop(100%,#ab0000)); /* Chrome,Safari4+ */
    //background: -webkit-linear-gradient(top,  #ff0000 0%,#ab0000 100%); /* Chrome10+,Safari5.1+ */
    //background: -o-linear-gradient(top,  #ff0000 0%,#ab0000 100%); /* Opera 11.10+ */
    //background: -ms-linear-gradient(top,  #ff0000 0%,#ab0000 100%); /* IE10+ */
    //background: linear-gradient(to bottom,  #ff0000 0%,#ab0000 100%); /* W3C */
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#ab0000',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
    text-align: center;
}

.grid-view table.items tr.even {
    background: #FAF8F8 none repeat scroll 0 0;
}
.grid-view table.items tr.even:hover {
    background: #FCC7C7 none repeat scroll 0 0;
}
.grid-view table.items tr.odd {
    background: #e4e4e4 none repeat scroll 0 0;
}
.grid-view table.items tr.odd:hover {
    background: #FCC7C7 none repeat scroll 0 0;
}

.grid-view .summary {
    text-align: left;
    font-size: medium;
    font-style: italic;
}

ul.yiiPager a:link, ul.yiiPager a:visited {
    border: 1px solid #FCC7C7;
    color: #000000;
    font-weight: bold;
    padding: 5px 15px;
    text-decoration: none;
}

ul.yiiPager .selected a {
    background: #ff0000 none repeat scroll 0 0;
    color: #ffffff;
    font-weight: bold;
}

.grid-view .pager {
    margin: 5px 0 0;
    text-align: center;
}

.pager li > a, .pager li > span {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0px;
    display: inline-block;
}

.pager .next > a, .pager .next > span {
    float: none;
}

.pager .previous > a, .pager .previous > span {
    float: none;
}

.elemento-exterior{
    padding-top: 3px;
}

.elemento-interior{
    border: 1px dashed #ddd; 
    background-color: white;
}

.space-1 {
    height: 10px;
}

.space-2 {
    height: 20px;
}

.space-3 {
    height: 30px;
}

.scroll-modulo-flotante {
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 30%;
    right: 5px;
    display: block;
    text-indent: -9999px;
    z-index: 9999;
    background: url('../images/iconos/icon_module_link.png') no-repeat;
}

a.clst_slct_prod{ display:none;}
a.clst_slct_prod.active{display: block;}
