assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
/.project
/images/productos/
/images/owl/
/images/combos/
/nbproject/private/
/html/
/protected/modules/callcenter/uploads/
.DS_Store
/.buildpath
/images/banner/