assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
/.project
/images/productos/
/images/desktop/
/images/banner/
/images/menu/
/images/owl/
/images/combos/
/nbproject/private/
/html/